---
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href="https://fav.farm/🤖" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap" rel="stylesheet">
		<title>The Guide</title>
	</head>
	<body>
		<Navigation />
		<main class="content">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--guide-green: #25f88e;
		--guide-green-90: rgba(37, 248, 142, 0.9);
		--guide-green-75: rgba(37, 248, 142, 0.75);
		--guide-green-50: rgba(37, 248, 142, 0.5);
		--guide-green-25: rgba(37, 248, 142, 0.25);
		--guide-green-10: rgba(37, 248, 142, 0.1);
	}
	
	html, body {
    margin: 0;
    width: 100%;
    min-height: 100vh;
    background: radial-gradient(ellipse at bottom, #07111d 0%, #000000 100%);
    color: var(--guide-green);
    font-family: 'Share Tech Mono', monospace;
}

	body {
		display: flex;
		flex-direction: column;
	}

	* {
		box-sizing: border-box;
	}

	.content {
		flex: 1;
	}
</style>
